# To enable development features:
# ASPNETCORE_ENVIRONMENT=Development

# Fill with desired values

ASPNETCORE_URLS=http://+:8080

# DB Values

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=auth_db

POSTGRES_HOST=auth-db
POSTGRES_PORT=5432