#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                     ASP.NET Core listen URL.                        │
#    │              ───── Example: http://+:8080 ─────                     │
#    ╰─────────────────────────────────────────────────────────────────────╯

ASPNETCORE_URLS=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                     ASP.NET Core environment.                       │
#    │          ───── Example: Development / Production ─────              │
#    ╰─────────────────────────────────────────────────────────────────────╯

ASPNETCORE_ENVIRONMENT=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                     PostgreSQL credentials.                         │
#    │                      ───── User, password ─────                     │
#    │             ───── Example: auth_user / my_password ─────            │
#    ╰─────────────────────────────────────────────────────────────────────╯

POSTGRES_USER=
POSTGRES_PASSWORD=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                      PostgreSQL configuration.                      │
#    │                ───── Database name, host, port ─────                │
#    │            ───── Example: auth_db / auth-db / 5432 ─────            │
#    ╰─────────────────────────────────────────────────────────────────────╯

POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                     OAuth configuration.                            │
#    │         ───── FortyTwo, Google and GitHub credentials ─────         │
#    ╰─────────────────────────────────────────────────────────────────────╯

OAuth__FortyTwo__ClientId=
OAuth__FortyTwo__ClientSecret=

OAuth__Google__ClientId=
OAuth__Google__ClientSecret=

OAuth__Github__ClientId=
OAuth__Github__ClientSecret=
