#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                    Port used by the service.                        │
#    │                                                                     │
#    │               ───────── Example: 8080 ──────────                    │
#    ╰─────────────────────────────────────────────────────────────────────╯
APP_PORT=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                     PostgreSQL credentials.                         │
#    │                                                                     │
#    │  ── Example: notification_user / my_password / notification_db ──   │
#    │               ───── notification-db / 5432 ──────                   │
#    ╰─────────────────────────────────────────────────────────────────────╯
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                  Full PostgreSQL connection URL                     │
#    │                                                                     │
#    │  ── Example: postgres://user:password@notification-db:5432/db ──    │
#    ╰─────────────────────────────────────────────────────────────────────╯
DATABASE_URL=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                    Goose migration settings.                        │
#    │                                                                     │
#    │                ────── Example: postgres ──────                      │
#    │       ── postgres://user:password@notification-db:5432/db ──        │
#    │                ──────── db/migrations ────────                      │
#    ╰─────────────────────────────────────────────────────────────────────╯
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                         AMPQ settings.                              │
#    │                                                                     │
#    │      ────── Example: amqp://user:password@host:5672/ ──────         │
#    ╰─────────────────────────────────────────────────────────────────────╯
AMQP_URL=