# Public API base URLs (exposed to browser)
NEXT_PUBLIC_API_AUTH_URL=http://localhost:5001
NEXT_PUBLIC_API_GUILD_URL=http://localhost:5002
NEXT_PUBLIC_API_USER_URL=http://localhost:5003
NEXT_PUBLIC_API_NOTIFICATION_URL=http://localhost:5004
NEXT_PUBLIC_API_CHAT_URL=http://localhost:5005
