# rabbitmq's user / password pair, so services can connect to it
# (us too so we can have lovely debugging sessions)
RABBITMQ_USER=
RABBITMQ_PASS=

# root of the infra, so each service knows where the frontend and gateway lives (depending on the environment)
BASE_URL=
BASE_API_URL=
