#    ╭─────────────────────────────────────────────╮
#    │              JWT secret value.              │
#    │     ───── Example: HelloWorld123 ─────      │
#    ╰─────────────────────────────────────────────╯

JWT_SECRET=

#    ╭─────────────────────────────────────────────╮
#    │          Port used by the gateway.          │
#    │     ───────── Example: 8000 ──────────      │
#    ╰─────────────────────────────────────────────╯

GATEWAY_PORT=

#    ╭─────────────────────────────────────────────╮
#    │           Services url and ports.           │
#    │    ───── Example: http://auth:8000 ─────    │
#    ╰─────────────────────────────────────────────╯

AUTH_SERVICE_URL=
CHAT_SERVICE_URL=
GUILD_SERVICE_URL=
NOTIFICATION_SERVICE_URL=
USER_SERVICE_URL=

#    ╭─────────────────────────────────────────────╮
#    │           Rate limiting per UID.            │
#    │    ───── Fill rate/s. Example: 1.0 ─────    │
#    │    ───── Bucket size. Example: 10 ──────    │
#    ╰─────────────────────────────────────────────╯

UID_RATE=
UID_BUCKET=

#    ╭─────────────────────────────────────────────╮
#    │            Rate limiting per IP.            │
#    │       Used only for requests to auth.       │
#    │    ───── Fill rate/s. Example: 0.2 ─────    │
#    │    ────── Bucket size. Example: 3 ──────    │
#    ╰─────────────────────────────────────────────╯

IP_RATE=
IP_BUCKET=

#    ╭─────────────────────────────────────────────╮
#    │              Dev environment.               │
#    │     ───────── Example: true ──────────      │
#    ╰─────────────────────────────────────────────╯

DEV=
