# Temp value for the JWT secret
# for example: HelloWorld123
JWT_SECRET=

# Services url and ports
# for example: http://auth:8000
AUTH_SERVICE_URL=
CHAT_SERVICE_URL=
GUILD_SERVICE_URL=
NOTIFICATION_SERVICE_URL=
USER_SERVICE_URL=
