#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                     PostgreSQL credentials.                         │
#    │       ───── Example: user_user / my_password / user_db ─────        │
#    ╰─────────────────────────────────────────────────────────────────────╯

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#    ╭─────────────────────────────────────────────────────────────────────╮
#    │                  SQLx full PostgreSQL connection URL.               │
#    │    ── Example: postgres://user:password@user-db:5432/user_db ──     │
#    ╰─────────────────────────────────────────────────────────────────────╯

DATABASE_URL=
